body {
    background-color: #a3a3a3;
    color: #1f1f1f;
    font: Arial;
    margin: 0;
}

.counter {
    user-select: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vh;
    margin: 0;
}

.instructions {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: gray;
}

.splash {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #231f20;
    margin: 0;
    padding: 0;
    z-index: 99;
}