@font-face {
    font-family: "Terminus";
    src: url("terminus.ttf") format("truetype");
}

body {
    background-color: blue;
    font-family: "Terminus", monospace;
    overflow: hidden;
    color: white;
}

.funnypenguin {
    white-space: pre;
    position: absolute;
    margin-top: 0;
}

.errortext {
    text-align: center;
    margin-top: 5vh;

}

.rantcontainer {
    display: flex;
    justify-content: center;
}

.rant {
    position: relative;
    margin-top: 10vh;
    max-width: 95%;
    width: 65vh;
    height: auto;
}

@media (max-aspect-ratio: 4/3) {
    .rant {
        margin-top: 173px; /* why 173px you may ask? its the height of the linux penguin text + 20px of padding */
    }
}